---
  - name: auditbeat deployment
    hosts: all
    tasks:
      - name: Get uptime information
        shell: /usr/bin/uptime
        register: result
      
      - name: Copy filebeat pkg
        copy:
         src: /etc/ansible/files/elk/auditbeat/auditbeat-7.11.0-amd64.deb
         dest: /tmp/
         mode: '777'
        
      - name: Installing auditbeat
        apt:
          deb: /tmp/auditbeat-7.11.0-amd64.deb
      
      - name: copyig config files
        template:
          src:  /etc/ansible/files/elk/auditbeat/auditbeat.j2
          dest: /etc/auditbeat/auditbeat.yml
          mode: '600'
     
      - name: filebeat setup cmd
        shell: filebeat setup -e
        register: output
        
      - name: debug
        debug: 
          var: output
          verbosity: 1
